/* Content resets*/
body {
	margin: 0;
}

#content {
	margin: 22px;
}
@media only screen and (max-device-width: 800px) {
	/* Text resets */
	body {
		font-size: 28px;
	}

	h1, h2, h3, h4, h5, h6 {
		font-family: 'Crete Round', serif;
		font-weight: normal;
	}
	
	h1 {
		font-size: 40px;
	}
	
	h2 {
		font-size: 36px;
	}
	
	h3 {
		font-size: 32px;
	}
}

/* Find On Page styles */
.findtoggle {
	display: none;
}

.findtoggle a {
	text-decoration: none;
}

#showToggle {
	margin: 22px 22px 0;
	display: block;
}

.findtoggle a:hover { /* desktops only */
	text-decoration: underline;
}

#findOnPage {
	display: none;
	position: relative;
	border-bottom: 1px #777;
	height: 60px;
	padding: 0 20px;
	margin: 0;
	background: #DDDDDD;
	background: -webkit-gradient(linear, left top, left bottom, from(#EEEEEE), to(#BBBBBB));
	background: -moz-linear-gradient(top,  #EEE,  #BBB);
}

#findOnPage a {
	border: none;
}

#findOnPage input {
	position: relative;
	float: left;
	left: 0;
	top: 14px;
	font-size: 24px;
	line-height: 24px;
	height: 30px;
	margin-right: 8px;
	width: 200px;
}

#findOnPage button {
	font-size: 24px;
	color: #777;
}

#findOnPage label {
	position: relative;
	float: left;
	left: 0px;
	top: 14px;
	color: #777;
	margin: 0 5px 0 0;
	font-family: 'Crete Round', serif;
	font-weight: normal;
	font-size: 28px;
}
/* Desktop styles for find command */
@media only screen and (min-device-width: 1024px) {
	#findOnPage label {
		font-size: 20px;
		top: 18px;
		margin-right: 8px;
	}
	
	#findOnPage input {
		font-size: 14px;
		line-height: 14px;
		top: 19px;
		height: 20px;
		width: 200px;
	}
}
span.matches {
	background-color: none;
	color: auto;
}

span.matches.enabled {
	background-color: #B3D6FF;
	color: #222222;
}

/* 
 * iPhone icons from http://www.iconfinder.com/search/?q=iconset%3Aiphone_toolbar_icons 
 * License: Creative Commons Attribution
 */
#findOnPage .icons {
	width: 26px;
	height: 26px;
	margin: 18px 5px 0;
	display: inline-block;
	
}

#findNav {
	display: inline;
}

#findOnPage .icons.delete {
	float: right;
	background-image: url('bin/iphone_delete.png');
}

#findNext {
	background-image: url('bin/iphone_arrow_right.png');
}

#findPrevious {
	background-image: url('bin/iphone_arrow_left.png');
}

#findNav .disabled {
	opacity: 0.25;
}